body > div {
	background-color: rgb(80, 80, 80);
	width: var(--size);
	height: var(--size);
}

#mainmenu {
	--btn-width: calc(var(--size) * 0.4);
	--btn-height: calc(var(--size) * 0.1);

	width: var(--size);
	height: var(--size);

	display: flex;
	align-items: center;
	flex-direction: column;

	position: relative;
}

#mainmenu > div {

	position: absolute;
	bottom: calc(var(--size) * 0.1);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.arcade-btn {
	margin: 10px;
}

.row {
	--bars: 2;
	--margin: 10px;
	/* margin: var(--margin); */

	display: flex;
	flex-direction: column;
}

.cell {
	

	background: #222;
/* 
	width: calc(var(--size) / 3 - var(--bars) * var(--margin));
	height: calc(var(--size) / 3 - var(--bars) * var(--margin)); */
	width: calc(var(--size) / 3 - var(--margin) * 2);
	height: calc(var(--size) / 3 - var(--margin) * 2);
	margin: var(--margin);
}