#gameSelector {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;

	color: var(--color-primary);
}

#gameSelector > * {
	border-radius: 0.5rem;
}

.game {
	--game-width: 380px;
	--game-height: 500px;

	display: flex;
	align-items: center;
	flex-direction: column;

	width: var(--game-width);
	height: var(--game-height);
	background: var(--color-quinary-light);
	padding: 0 0.5rem 0.5rem 0.5rem;
	margin: 0.5rem;
}

.game > h3 {
	margin-top: 1rem;
}

img {
	width: var(--game-width);
	height: var(--game-width);
	border-radius: 0.5rem;

	transition: 0.7s;
}

img:hover {
	transform: scale(1.1);
}

p {
	text-align: center;
}