body {
	--body-margin: 1rem;

	background-color: #222;
	margin: 0px;

	font-family: var(--font-family);
	font-size: var(--font-size-text);
	color: var(--color-primary);
}

body > * {
	margin-left: calc(var(--margin-amount, 2) * var(--body-margin));
	margin-right: var(--body-margin);
}

h2 {
	--margin-amount: 1;
	color: var(--color-primary);
	border-radius: 3rem 1rem 3rem 1rem;
	background-color: var(--color-quinary-light);
	padding: 1rem;
	padding-left: 2.5rem;   
}

/* Botones chachis */

input[type=text] {
	padding: 12px 5px 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	position: relative;
	border-bottom: 2px solid #ccc;
	background-color: #f1f1f1;
	border-radius: 7px;
	text-align: center;
}

.button { 
	background-color: var(--color-tertiary);
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.2s;
}

.button:hover span {
	padding-right: 15px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}